html, body {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.App-header {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  top: 0;
  position: fixed;
  z-index: 999;
  padding: 0 5px 0 19px;
  .content {
    display: block;
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
  .nav-menu-btn {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h2 {
    display: inline-block;
    margin: 0px;
    -webkit-margin-before:0;
    -webkit-margin-after:0;
    line-height: 72px;
    letter-spacing: 1px;
  }
}

.App-content {
  margin-top: 72px;
  background: #f8f8f8;
  display: inline-block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-item-holder {
  float:left;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .card-item-holder {
    width: 100%;
    &.half {
      width: 50%;
    }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .card-item-holder {
    width: 50%;
    &.half {
      width: 50%;
    }
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .card-item-holder {
    width: 33.33%;
    &.half {
      width: 33.33%;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .card-item-holder {
    width: 33.33%;
    &.half {
      width: 25%;
    }
  }
}

@media (min-width: 1601px){
  .card-item-holder {
    width: 25%;
    &.half {
      width: 20%;
    }
  }
}
.cards-holder {
  display: inline-block;
  padding-bottom: 10px;
  float: left;
  margin: 0 0 15px 0px;
  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 62px !important;
  }
  &:first-of-type {
    padding-top: 72px !important;
  }
}
.cards-holder:after {
  content: ' ';
  clear: both;
}

.card-title img{
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
}
.card-title i {
  display: inline-block;
  vertical-align: middle;
}
.card-title .card-title-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.card-action-refresh {
  text-align: center;
  line-height: 60px;
  height: 60px;
  float: right;
  cursor: pointer;
}

.marginRight10 {
  margin-right: 10px;
}

a {
  text-decoration: none;
}

.mail-card {
  height: 106px;
  overflow: hidden;
  padding-bottom: 24px;
  position: relative;
}

.mail-card .mail-title span {
  line-height: normal !important;
  font-size: 36px !important;
  font-weight: 100;
  color: inherit !important;
}

.mail-card .mail-description {
  padding-top: 0;
  padding-bottom: 0;
}

.mail-card .mail-description div {
  line-height: normal !important;
  font-size: medium !important;
  text-transform: lowercase;
  letter-spacing: 1px;
  padding: 10px 16px !important;
}

.mail-card .news-url span {
  text-decoration: none !important;
}

.cards-wrapper {
  display: block;
  margin: 0 auto !important;
  width: 80%;
  max-width: 1200px;
  .cards-wrapper-inner {
    margin: 0 -10px;
  }
}

.cards-img-inner {
  width:100%;
  height: 500px;
  background-size: cover;
}