html, body {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.App-header {
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  top: 0;
  position: fixed;
  z-index: 999;
  padding: 0;
  text-align: center;
  .nav-manu-btn {
    height: 72px;
    line-height: 80px;
  }
  h2 {
    display: inline-block;
  }
}

.App-content {
  margin-top: 72px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-item-holder {
  float:left;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .card-item-holder {
    width: 100%;
    &.half {
      width: 50%;
    }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .card-item-holder {
    width: 50%;
    &.half {
      width: 50%;
    }
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  .card-item-holder {
    width: 33.33%;
    &.half {
      width: 33.33%;
    }
  }
}

@media (min-width: 1201px) and (max-width: 1600px) {
  .card-item-holder {
    width: 25%;
    &.half {
      width: 20%;
    }
  }
}

@media (min-width: 1601px){
  .card-item-holder {
    width: 20%;
    &.half {
      width: 20%;
    }
  }
}
.cards-holder {
  display: inline-block;
  padding-bottom: 10px;
  float: left;
  &:last-of-type {
    margin-bottom: 10px;
  }
  margin: 10px 0 0 10px;
  width: calc(100% - 20px) !important;
}
.cards-holder:after {
  content: ' ';
  clear: both;
}

.card-title img{
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 10px;
}
.card-title i {
  display: inline-block;
  vertical-align: middle;
}
.card-title .card-title-img {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.card-action-refresh {
  width: 60px;
  text-align: center;
  line-height: 60px;
  height: 60px;
  float: right;
  cursor: pointer;
}
.card-action-refresh:hover,
.card-action-refresh:focus,
.card-action-refresh:active {
  background: rgba(0,0,0,0.10);
}

.marginRight10 {
  margin-right: 10px;
}