a {
    text-decoration: none;
}

.mail-card {
    height: 106px;
    overflow: hidden;
    padding-bottom: 24px;
    position: relative;
}

.mail-card .mail-title span {
    line-height: normal !important;
    font-size: 36px !important;
    font-weight: 100;
    color: inherit !important;
}

.mail-card .mail-description {
    padding-top: 0;
    padding-bottom: 0;
}

.mail-card .mail-description div {
    line-height: normal !important;
    font-size: large !important;
    text-transform: lowercase;
    letter-spacing: 1px;
    padding: 10px 16px !important;
}

.mail-card .news-url span {
    text-decoration: none !important;
}